<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.ndaversa.cycle.py</string>
	<key>ProgramArguments</key>
	<array>
    <string>/Users/ndaversa/Library/Scripts/cycle.py</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>

  <key>StandardOutPath</key>
  <string>/Users/ndaversa/Dropbox/cycle.py/cycle.out</string>

  <key>StandardErrorPath</key>
  <string>/Users/ndaversa/Dropbox/cycle.py/cycle.err</string>

</dict>
</plist>
